.form {
  padding: 30px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.input {
  width: 400px;
  height: 30px;
  border-radius: 4px;
  margin: 10 auto;
  border: none;
  padding: 20px;
}
.inputbox {
  border-bottom: 1px solid;
  width: 400px;
}

.button {
  margin: 30px;
  padding: 12px 50px;
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  background-color: #f21905;
  font-size: 14px;
  color: white;
  font-weight: 600;
}

.list {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: black;
}

.item {
  text-align: left;
  color: black;
  text-decoration: none;
  padding: 10px 0;
  font-size: 18px;
}
.item:hover {
  color: #f21905;
}
