.button {
  margin: 40px 30px 40px 30px;
  display: flex;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  background-color: #f21905;
  font-size: 14px;
}
.buttonlink {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.button:hover {
  background-color: #d94e41;
}
